@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background-color: rgba(10, 10, 10, 0.975);
    overflow-x: hidden;
}

#root {
    padding: 0 10rem;
    /* background-color: aliceblue; */
    /* overflow-x: hidden; */
}

button {
    padding: .7rem 1.7rem;
    color: white;
    background-color: rgb(201, 23, 23);
    border: none;
    outline: none;
    cursor: pointer;
}



@media  (max-width: 820px) {
    #root {
        padding: 0 6rem;
    }

    button {
        padding: .4rem 1rem;
        color: white;
        background-color: rgb(201, 23, 23);
        border: none;
        outline: none;
        cursor: pointer;
    }
}

@media  (max-width: 580px) {
    #root {
        padding: 0 2rem;
    }

    button {
        padding: .2rem .8rem;
        color: white;
        background-color: rgb(201, 23, 23);
        border: none;
        outline: none;
        cursor: pointer;
    }
}